.contacts {
#js-contactsMap {
  width: 100%;
  height: 490px;
  width: 750px;
}

&__listing {
  display: flex;
  flex-direction: row;
  column-gap: 115px;
}
&__list {
  display: flex;
   margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  gap: 67px;
}
&__item-content {
  display: flex;
  flex-direction: column;
}
&__item {
  display: flex;
  gap: 67px;
  list-style-type: none;
}

&__item-mark {
  display: flex;
  color: @red;
  justify-content: center;
  align-items: center;
}

&__item-icon {
  position: absolute;
  margin-left: 293px;
}

&__square {
  background-color: @black;
  width: 110px;
  height: 110px;
  float: left;
  margin-left: 293px;
}



}
