.doit {
    &__doit {
    display: flex;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 140px;
    }
    &__title {
        margin: 0 auto;
        text-align: right;
        font-family: @font2;
        font-weight: 700;
        font-size: 130px;
        line-height: 120%;
    }

&__line {
    display: flex;
    flex-direction: column;
    align-items: center;   
}
        
&__line-svg {
    margin-bottom: 60px;
}
    
}