.reserve {
  display: grid;
  gap: 65px 11%;
  grid-template-columns: 405px calc(89% - 405px);
  grid-template-areas: 
    "checks scheme"
    "order legend"; 
  width: 100%;
  ////box-sizing: border-box;

  &__checks {
  grid-area: checks;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: yellow;
}

&__order {
  grid-area: order;
  background-color: blue;
}

&__scheme {
  grid-area: scheme;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #ffa200;
}
&__scheme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 780px;
}
&__legend {
  grid-area: legend;
  display: flex;
  background-color: #ff0051;
}
}