.html, 
.body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.body {
box-sizing: border-box;
display: flex;
flex-direction: column;
min-height: 100vh;
padding-top: 147px;
font-family: "Open Sans", sans-serif;
font-size: 16px;
line-height: 1.375;
color:#1f1e1e;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    background-color: #dedede80;
    backdrop-filter: blur(20px);
    z-index: 100;
}

.page-header__container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1414px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;

}

.page-header__logo {
    flex-shrink: 0;
    font-size: 0;
    width: 202px;
    height: 147px;
    text-decoration: none;
}

.page-header__logo-icon {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.page-header__nav {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
    gap: 50px;
}

.page-header__nav-link {
    color: #1f1e1e;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.38;
    text-decoration: none;
    transition: color 0.2s;
}

.page-header__nav-link:hover {
    color:#bc3324;
}

.page-header__right-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 202px;
}

.home__main-header {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__title {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    margin: 100px 700px;
    width: 518px;
    height: 57px;
    color:#1f1e1e;
    font-family: Lora;
    font-size: 45px;
    font-weight: 400;
    line-height: 58px;
    text-align: center;
    text-transform: uppercase;
}

.home__slogan {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    width: 990px;
    height: 116px;
    color:#1f1e1e;
    font-family: Lora;
    font-size: 45px;
    font-weight: 400;
    line-height: 58px;
    text-align: center;
    text-transform: uppercase;
}

.home__offers {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

.offers__title {
    display: flex;
    box-sizing: border-box;
    color: #1f1e1e;
    font-family: Lora;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: uppercase;
}

.offers__btns {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    gap: 110px;
    margin-top: 4px;
    margin-bottom: 180px;
}

.btn {
    display: inline-flex;
    box-sizing: border-box;
    padding: 15px 40px;
    border: 1px solid #1f1e1e;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    color: #1f1e1e;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.375;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.btn:hover {
    background-color: #1f1e1e;
    color: #ffffff;
}

.btn--red:hover {
    background-color: #bc3324;
    color: #ffffff;
    border: 1px solid #bc3324;
}

.section-title {  
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto 150px;
width: 100%;
max-width: 624px;
padding: 8px 45px;
background-color: #1f1e1e;
color: #ffffff;
font-family: "Lora", serif;
font-weight: 500;
font-size: 36px;
line-height: 1.28;
text-align: center;
text-transform: uppercase;
}

.page-footer {
    flex: 0 0 auto;
    background-color: black;
}